<div class="headerImage col-md-12">
	<div class="leftHeader col-md-4">
		<img class="img"src="http://visitcorkcounty.com/wp-content/uploads/2013/06/logo.png">
		<h1 class="text-center">Welcome to Cork</h1>
	</div>
	<div class="rightHeader col-md-8">
		<img class="img banner"src="http://visitcorkcounty.com/wp-content/themes/baseek-child/images/ribbons2.png">
	</div>
</div>
<h2 class="topHeader">Getting Here</h2>
<div class="container col-md-12">
	<div class="row">
		<div class="col-md-12">
			<div class="col-md-4"> <!---PLANE--->
				<div class="one_half"><p></p>
					<h1 id="by-plane">By Plane</h1>
					<hr>
					<div class="topContent">
						<a href="http://visitcorkcounty.com/welcome-to-cork/getting-here/cork-airport-at-night/#main" rel="attachment wp-att-370">
							<img class="size-thumbnail wp-image-370 alignleft" src="http://visitcorkcounty.com/wp-content/uploads/2013/03/Cork-Airport-at-Night-150x150.jpg" alt="Cork Airport at Night" width="150" height="150" scale="0">
						</a>
						<h2>Airport details</h2>
						<p><strong> Phone</strong>: +353 (0)21 431 31 31<br>
						<strong>Website:</strong> <a href="http://www.corkairport.com" target="_blank">www.corkairport.com</a></p>
					</div>
					<div class="bottomContent">
						<h2 style="text-align: left;">Getting to Cork Airport</h2>
						<p><strong>By Road:</strong></p>
						<p>Cork Airport is 8 kilometres from Cork City Centre and is located on the N27 (direction</p>
						<p><strong>By Bus:</strong></p>
						<p>
							Bus Éireann’s direct Air Coach Service (<a href="http://www.buseireann.ie/timetables/1425471772-226.pdf" target="_blank">route 226</a>) travels daily from the Airport to Cork City Centre Parnell Place Bus Station and Kent Railway Station.
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-4"><!---TRAIN--->
				<div class="one_half last_column"><p></p>
						<h1 id="by-train">By Train</h1>
						<hr>
					<div class="topContent">
						<a href="http://visitcorkcounty.com/welcome-to-cork/getting-here/corkkentstation2/#main" rel="attachment wp-att-1977">
							<img class="size-thumbnail wp-image-1977 alignleft" src="http://visitcorkcounty.com/wp-content/uploads/2013/03/corkkentstation2-150x150.jpg" alt="corkkentstation2" width="150" height="150" scale="0">
						</a>
						<h2>Station details:</h2>
						<p><strong>Phone:</strong> + 353 (0)21 45 067 66 or 1850 366 222 (+353 18366222)</p>
						<p><strong>Calling from outside of Ireland?</strong> +353 (0)1 836 6222</p>
						<p><strong>Website:</strong> 
							<a href="http://www.irishrail.ie/travel-information/cork-kent" target="_blank">http://www.irishrail.ie/travel-information/cork-kent</a>
						</p>
					</div>
					<div class="bottomContent">
						<h2>Getting to Kent Station</h2>
						<p>Kent Station is located on the Glanmire Road, only 10 minutes from Cork City centre and 8 minutes from The Bus Station</p>
						<p><strong> Bus access:</strong></p>
						<p>Bus Éireann’s direct Air Coach Service (<a href="http://www.buseireann.ie/timetables/1425471772-226.pdf" target="_blank">route 226</a>) links Kent Station.</p>
						<p>
							There are daily trains to Dublin and Tralee, Co. Kerry and in Cork County the towns of Mallow, Cobh and Midleton can be accessed by train.
						</p>
						<p></p>
					</div>
				</div>
			</div>
			<div class="col-md-4"> <!---BUS--->
				<div class="one_half"><p></p>
					<h1 id="by-bus">By Bus</h1>
					<hr>
					<div class="topContent">
						<a href="http://visitcorkcounty.com/welcome-to-cork/getting-here/corkbusstationparnellsq/#main" rel="attachment wp-att-1976">
							<img class="size-thumbnail wp-image-1976 alignleft" src="http://visitcorkcounty.com/wp-content/uploads/2013/03/corkbusstationparnellsq-150x150.jpg" alt="corkbusstationparnellsq" width="150" height="150" scale="0">
						</a>
						<h2>Station details:</h2>
						<p><strong> Phone</strong>: +353 (0)21 450 81 88<br><strong>Website:</strong> 
							<a href="http://www.buseireann.ie" target="_blank">www.buseireann.ie</a>
						</p>
					</div>
					<div class="bottomContent">
						<h2 style="text-align: left;">Getting to Cork’s Bus Station</h2>
						<p>
							Cork’s Bus Station is located in Parnell Place on the banks of the River Lee between St Patricks Bridge and Brian Boru Bridge (immediately behind Merchants Quay main Shopping Centre)
						</p>
						<p>
							From the station, you can get to Kent Train Station or Cork Airport by using the Air Coach Service (<a href="http://www.buseireann.ie/timetables/1425471772-226.pdf" target="_blank">route 226</a>). There are daily buses to all major Irish towns.
						</p>
				</div>
			</div>
		</div>

		<div id="dashboardContent" class="col-md-12"> <!---SKYSCANNER--->
			<hr>
			<img class="img skyscanner"src="./images/skyscanner.png">
	        <h2 class="flightHeader text-center">Browse Flight Quotes</h2>

			<form method="post" action="/skyscanner"> <!--- FORM--->
				<div class="form-group col-md-12">
					<div class="col-md-3">
						<label>From:</label>
						<input type="text" class="form-control" placeholder="AMS"  name="originPlace">
					</div>
					<div class="col-md-2">
						<label>To:</label>
						<input type="text" class="form-control" value="ORK" name="destinationPlace">
					</div>
					<div class="col-md-3">
						<label>Departure Date:</label>
						<input type="text" class="form-control" placeholder="YYYY-MM-DD"  name="outboundPartialDate">
					</div>
					<div class="col-md-3">
						<label>Return Date:</label>
						<input type="text" class="form-control" placeholder="YYYY-MM-DD"  name="inboundPartialDate">
					</div>
					<div class="col-md-1">
						<button type="submit" class="okButton btn btn-default">OK</button>
					</div>
				</div>
			</form> 
			{{#if quotes.length}}	<!---If quotes available--->
				<div class="row eventDisplays">
			        {{#each quotes}} 
			            <div class="col-xs-6 col-sm-6 col-md-6 eventDisplay">
			            	<div class="flightContent">
			            		<h2 class="flightHeader">Quote: {{QuoteId}}</h2>
			            		<div class="flightInfo">
					              	<h3><i class="fa fa-plane"></i> Price: €{{MinPrice}}</h3>
					              
									{{#if InboundLeg.OriginId.length}}	<!---RETURN Flight Inbound details available--->
					              		<h3>RETURN</h3>
					              		<!---Change from True/False to Yes/No--->
					              		<p><strong>Direct</strong>: {{#equal Direct true}}Yes{{else}}No{{/equal}}</p>	
					              		<br>
					              		<!--Date helper modifies date format-->
					              		<p><strong>Date</strong>: {{date OutboundLeg.DepartureDate}}</p>	
								  		<p>
								  			<strong>Outbound</strong>: {{OutboundLeg.OriginId}} <i class="fa fa-arrow-right"></i> {{OutboundLeg.DestinationId}}
								  		</p>
								    	<br>
								    	<p><strong>Date</strong>: {{date InboundLeg.DepartureDate}}</p>
								    	<p>
								    		<strong>Inbound</strong>: {{InboundLeg.OriginId}} <i class="fa fa-arrow-right"></i> {{InboundLeg.DestinationId}}
								    	</p>
								   		
								   		
								    {{else}}	<!---SINGLE Flight Inbound details not available--->
							      		<h3>SINGLE</h3>
							      		<p><strong>Direct</strong>: {{#equal Direct true}}Yes{{else}}No{{/equal}}</p>
							      		<p><strong>Date</strong>: {{date OutboundLeg.DepartureDate}}</p>
							      		<p><strong>Route</strong>: {{OutboundLeg.OriginId}} <i class="fa fa-arrow-right"></i> {{OutboundLeg.DestinationId}}</p>
								    {{/if}}
								</div>
			                </div>
			            </div>
					{{/each}}
		        </div>
		    {{else}}				<!---If NO quotes available--->
		   		<h3 class="text-center">Please enter new search.</h3>
		    {{/if}}
    	</div>
	</div>
</div>
